:root { 
/*	--logo-color: red;*/

/*}*/
html,
body {
	padding: 10px 10px 10px 10px;
	margin: 0;
	width: 80%;
	display: flex;
	justify-content: center;
}

.logo_color {
	fill: #1f008d;
}
.logo {
	width: 100%;
}

.line_top {
	height: 3px;
}

.phone {
	display: flex;
	justify-content: center;
}

.telegram {
	display: flex;
	justify-content: center;
}

img.telegram {
	width: 60%;
	height: 20%;
}

@media screen and (max-width: 350px) {
	html,
	body {
		width: 350px;
	}

	img.logo {
		height: 60px;
	}
}

@media screen and (min-width: 350px) and (max-width: 800px) {
	img.logo {
		/* width: 80%; */
		min-height: 60px;
		max-height: 80px;
		/* height: 125px; */
	}
}

@media screen and (min-width: 800px) {
	img.logo {
		/* width: 700px; */
		min-height: 80px;
		max-height: 120px;
	}
}
